<!--
vim: filetype=html
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta title="O projeto brasileiro">
  <title></title>
  <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
  <header>
	  <img src="./assets/img/logo_mini.png" class="logo">
	  <h1 class="lemma">Somos <b><u>o</u></b> projeto brasileiro.</h1>
  </header>
  <div class="main-text">
  <h2 id="about"><a href="#about">#</a> Sobre o que é o projeto?</h2>
  <p>O Pindorama é uma organização que produz e mantém projetos de
  código-aberto com propósito geral, mas com um claro foco em
  <i>system programming</i>, desenvolvimento de programas para sistemas
  UNIX-compatíveis &mdash; inclusive,
  <a href="#projects">desenvolvemos o nosso próprio.</a></p>
  </p>Inspiramos-nos nos erros e acertos do passado para encontrar soluções mais
  simples e eficientes aos problemas e necessidades dos usuários modernos. Dessa
  forma, visamos alcançar <b>progresso</b>, não de forma cega e desenfreada,
  seguindo modas e tendências que nem sempre são de benefício à longa data, mas
  sim com <b>ordem</b>, construindo uma base racional para o futuro, focando no
  que de fato se mostrou como funcional. Também fazemos questão que essa base
  tenha o <b>amor</b> como princípio, mantendo um modelo de comunidade amigável
  onde tanto o iniciante tenha espaço para aprender contribuindo, quanto o
  especialista tenha liberdade para inovar, o que se expressa com nossa
  filosofia de documentação extensiva, mas clara e acessível.</p>
  <h2 id="projects"><a href="#projects">#</a> O que já fizemos?</h2>
  <ul>
  <li><a href="https://copacabana.pindorama.net.br">Copacabana Linux</a>
  <br/>
  Como trata-se de um sistema inteiro, há uma série de projetos que foram
  criados por conta do Copacabana:
  <ul>
  <li><a href="http://heirloom-ng.pindorama.dob.jp">Heirloom NG</a></li>
  <li><a href="https://github.com/Projeto-Pindorama/pacote">O Gerenciador de Pacotes "Pacote"</a></li>
  <li><a href="https://github.com/Projeto-Pindorama/lemount"> L.E.<tt>mount</tt></a></li>
  <li><a href="https://github.com/Projeto-Pindorama/teiu">O instalador Teiú</a></li>
  <li><a href="https://github.com/Projeto-Pindorama/opatch"><i>Port</i> do
		  comando <tt>patch</tt> do OpenBSD</a></li>
  <li><a
  href="https://github.com/Projeto-Pindorama/musl-compat">musl-compat</a> 
  e <a href="https://github.com/Projeto-Pindorama/musl-extra">musl-extra</a></li>
  <li><a href="https://github.com/Projeto-Pindorama/star">Pacote
		  <i>standalone</i> para o Schily tar</a></li>
  </ul>
  <li>
  <a href="https://github.com/Projeto-Pindorama/pico-torrent">pico-torrent</a>
  </li>
  <li><a href="https://github.com/Projeto-Pindorama/mitzune">Mitzune (interface
		  para o comando <tt>chroot</tt>)</a></li>
  </ul>
  <h3><span class="title-marker">##</span> Bibliotecas para a linguagem Go</h3>
  <ul>
  {{range .Modules}}<li><a href="{{.Path}}">{{$.Host}}{{.Path}}</a></li>{{end}}
  </ul>
  <h2 id="#chip-in"><a href="#chip-in">#</a> Faça sua contribuição!</h2>
  <p>Cada projeto tem uma seção acerca de contribuições em sua página pois,
  apesar de atuarmos num nicho, cada projeto tem sua necessidade
  específica.<br/>De toda maneira, se você é programador e tem interesse no
  projeto, aqui estão todas as <a
  href="https://github.com/search?q=user%3AProjeto-Pindorama+is%3Aopen&type=issues&ref=advsearch">
  <i>issues</i></a> e os <a
  href="https://github.com/search?q=user%3AProjeto-Pindorama+is%3Aopen&type=pullrequests&ref=advsearch">
  <i>pull-requests</i></a> ainda abertos e, caso você queira propôr algo que não
  esteja aqui, pode abrir uma nova <i>issue</i> no repositório que você
  desejar.<br/>Ah, claro: também precisamos de quem esteja disposto a auxiliar na
  <a href="https://github.com/Projeto-Pindorama/Silicon-Tabula">
  criação do site contendo documentação para cada projeto</a>, o que requer um
  certo conhecimento em programação <i>web</i> e <i>design</i>.<br/>Caso você seja
  de alguma companhia ou simplesmente um indivíduo que deseja fazer uma doação
  material como <i>hardware</i>, contribuição financeira direta, aluguel de algum
  serviço (VPSes, por exemplo), etc, pode <a 
  href="https://github.com/takusuman">contatar a mim</a> diretamente.</p>
  </div>
  <footer>
  <p><span class="copyright">© 2019-2024 Copyright: Pindorama</span></p>
  </footer>
  </body>
</html>
